{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    {% block title %}
    {% endblock %}

    {% block EXTCSS %}
    {% endblock %}
</head>

<body>
    {% block topbar %}
        <div class="topbar">
            <div class="page">
                <div class="login-bar">
                    <span>欢迎光临莎莎官网！</span>
                    <a href="#">登录</a>
                    <span>或</span>
                    <a href="#">免费注册</a>
                </div>

            </div>
        </div>
    {% endblock %}

</body>
</html>